@import url('https://fonts.cdnfonts.com/css/press-start-2p');

/* global vars */
*{
    /* text-align: center; */
    font-family: 'Press Start 2P', sans-serif;
    background-color: black;
}

#welcome-msg{
    color: ghostwhite;
}


/* battle scene */
#one{
    display: inline-block;
    position: relative;
}

#overlapping-div{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

